@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item,
.nav-logo,
.nav-brand {
  @apply inline-block align-middle text-base lg:leading-none;
}

.nav-item {
  @apply font-normal ml-2 opacity-70 hover:opacity-100;
}

.nav-brand {
  @apply font-semibold mr-1.5;
}
@layer components {
  .hint-container a {
    @apply font-normal underline;
  }
}

.spinning-animation {
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  /* transform: rotate(3deg); */

  /* transform: rotate(0.3rad);/ */

  /* transform: rotate(3grad); */

  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
