.markdown-wrapper {
  p {
    max-width: auto !important;
  }

  pre {
    margin: 28px 0;
  }
  ol > li::before {
    color: var(--text-primary-color);
    font-weight: 400;
  }

  a {
    color: var(--text-primary-color);
    text-decoration: underline;
    font-weight: 400;
  }
  a:hover {
    color: var(--text-accent-color);
  }
  .prose {
    width: 100%;
    max-width: auto !important;
  }
  .prose h2 {
    font-weight: 500 !important;
  }
  code {
    text-shadow: none !important;
    // font-size: 16px; // 1.2 rem?
    font-weight: 400;
    color: var(--text-accent-color);
    &::before,
    &::after {
      content: "" !important;
    }

    max-width: fit-content;
  }
}

.markdown-content {
  p {
    max-width: 730px;
  }

  img {
    max-width: 100%;
    position: static;
  }

  pre {
    margin: 28px 0;
    max-width: 730px;
  }
  ol > li::before {
    color: var(--text-primary-color);
    font-weight: 400;
  }

  a {
    color: var(--text-primary-color);
    text-decoration: underline;
    font-weight: 400;
  }
  a:hover {
    color: var(--text-accent-color);
  }
  .prose {
    width: 100%;
    max-width: auto !important;
  }
  .prose h2 {
    font-weight: 500 !important;
  }

  code {
    text-shadow: none !important;
    font-size: 16px; // 1.2 rem?
    font-weight: 400;
    color: var(--text-accent-color);
    &::before,
    &::after {
      content: "" !important;
    }

    max-width: fit-content;
  }
  @media (min-width: 1024px) {
    code {
      width: 125%;
    }
  }
  h2 {
    font-weight: 500 !important;
    margin-top: 24px !important;
    margin-bottom: 14px !important;
    font-size: 22px !important;
  }
  @media (max-width: 768px) {
    h2 {
      font-size: 20px !important;
    }
  }
}

.web3modal-modal-lightbox {
  z-index: 999 !important;
}
